<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campaigns</title>
  <link rel="stylesheet" href="/public/all.css">
</head>
<body>
  <h1>All Campaigns</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Customers</th>
      </tr>
    </thead>
    <tbody>
      {{#each campaigns}}
      <tr>
        <td>{{_id}}</td>
        <td>
          <ul>
            {{#each customers}}
            <li>{{this.name}} - {{this.email}}</li>
            {{/each}}
          </ul>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>
