<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Audience</title>
    <link rel="stylesheet" href="/public/campaign.css">

</head>
<body>
  <h2>Create Audience</h2>

  <section>
    <h3>Customers with Total Spends > INR 10000</h3>
    <button onclick="window.location.href = '/spends-over-10000'">Select</button>
  </section>

  <section>
    <h3>Customers with Total Spends > INR 10000 AND Max Number of Visits are 3</h3>
    <button onclick="window.location.href = '/spends-over-10000-visits-max-3'">Select</button>
  </section>

  <section>
    <h3>Customers Not Visited in Last 3 Months</h3>
    <button onclick="window.location.href = '/not-visited-last-3-months'">Select</button>
  </section>
</body>
</html>
