<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/message.css">
</head>
<body>
  <header>
    <div class="container">
      <nav class="top-right">
        <button onclick="window.location.href = '/logout'" class="logout-button">Logout</button>
      </nav>
    </div>
  </header>

  <form action="/message" method="POST">
    <label for="message">Enter a Message:</label>
    <input type="text" id="message" name="message" placeholder="Enter your message here">
    <input type="text" id="campaignId" name="campaignId" placeholder="Please enter the campaign id">
    <br>
    <button type="submit">Submit Message</button>
  </form>
  <br>
  <a href="/all-campaigns">See All Campaigns</a>
  <br>
  <a href="/results">See the status of the messages</a>
</body>
</html>
