body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .title {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}

header .title h1 {
  margin: 0;
  font-size: 1.8em;
  color: #333;
}

header nav.top-right {
  margin-left: auto;
}

header nav.top-right .logout-button {
  background-color: #f44336; /* Red color for the logout button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

header nav.top-right .logout-button:hover {
  background-color: #e41e1e; /* Darker red on hover */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}
